<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181512922368-80ff8ebsukk4a2caejp5c39s2euiiird.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181512922368-80ff8ebsukk4a2caejp5c39s2euiiird</string>
	<key>API_KEY</key>
	<string>AIzaSyAQh7uoL3UZPKjpufr9PgI2VjQUZlLJTJE</string>
	<key>GCM_SENDER_ID</key>
	<string>181512922368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tresidea.alavueltahay</string>
	<key>PROJECT_ID</key>
	<string>alavueltahay</string>
	<key>STORAGE_BUCKET</key>
	<string>alavueltahay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181512922368:ios:8f32dc8770e44155e1ffe5</string>
</dict>
</plist>